certifi
gunicorn
adxp-sdk
adxp-cli
black==25.1.0
fastmcp==2.3.3
langchain-community
langchain-openai
langgraph
openpyxl
loguru==0.7.3
pydantic-ai==0.2.3
pymysql==1.1.1
tabulate==0.9.0
pydantic-ai
pydantic-evals
python-dotenv
loguru
pytest
scipy
pandas
matplotlib
botocore
numpy
sqlalchemy
pymysql
mcp
httpx[http2]
